---
title: RxSwift Community Projects
---

<div class="row">
  <div class="col-lg-12">
    <h2 class="section-header">
      What's Up?
    </h2>
    <p>Description of the site.</p>
    <hr />
  </div>


  <%=

  data.items.sections.map do |section|
    section_name = section['name']
    header = <<-EOS
      <div class="col-lg-12">
        <h2 class="section-header">
          #{section_name}
        </h2>
        <hr />
      </div>
      EOS

    header + section['items'].map do |item|
      item_to_html(item)
    end.reduce('', :+).strip.to_s
  end.reduce('', :+).strip.to_s

  %>
</div>
