---
title: RxSwift Community Projects
---

<%=

opener = <<-EOS
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
EOS

closer = <<-EOS
      </div>
    </div>
  </div>
EOS

data.items.sections.map do |section|
  section_name = section['name']
  header = <<-EOS
    <div class="page-header">
      <h2> #{section_name} </h2>
    </div>
    <div class="js-grid grid">
  EOS

  contents = section['items']
              .sort { |a,b| a['name'] <=> b['name'] }
              .map do |item|
    item_to_html(item)
  end.reduce('', :+).strip.to_s

  opener + header + contents + closer

end.reduce('', :+).strip.to_s

%>
